
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Welcome to BSTU</h1>
        <a href="~/BSTU/Minsk">Minsk</a> <br />
        <a href="~/BSTU/Mogiliov">Mogiliov</a> <br />
        <a href="~/UZB/Index">Welcome to Uzbekistan</a>
    </div>
</body>
</html>
