
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Minsk</title>
</head>
<body>
    <div> 
        <h1>BSTU / Minsk</h1>
        <a href="~/BSTU/Index">Index</a> 
    </div>
</body>
</html>
