
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buxa</title>
</head>
<body>
    <div> 
        <h1>UZB/Buxa</h1>
        <a href="~/UZB/Index">
            Index
        </a>
    </div>
</body>
</html>
