
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>UZB/Index</h1>
        <a href="~/UZB/Tash">Tashkent</a> <br />
        <a href="~/UZB/Sam">Samarqand</a> <br />
        <a href="~/UZB/Buxa">Bukhara</a> <br />
        <a href="~/BSTU/Index">Welcome to Belorussiya</a>
    </div>
</body>
</html>
