
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sam</title>
</head>
<body>
    <div> 
        <h1>UZB/Sam</h1>
        <a href="~/UZB/Index">Index</a>
    </div>
</body>
</html>
